*/.svn
*/.vs
*/Library
*/Logs
*/obj
*/UserSettings
91 Release
.vsconfig
*.sln
*.csproj
*/Temp
*/Assets/StreamingAssets/Android
*/Assets/StreamingAssets/Textures
*/Assets/StreamingAssets/Android.meta
*/Assets/StreamingAssets/Textures.meta